---
import shortieHandSvg from '../assets/images/shortie-hand.svg'
---

<section class="bg-primary py-80">
  <div
    class="wrapper-lg flex flex-col items-center justify-between gap-40 md:flex-row"
  >
    <div class="w-full flex-1 <md:max-w-sm">
      <img src={shortieHandSvg.src} alt="" class="w-full max-w-lg" />
    </div>
    <div class="rich-text flex-1 text-white <md:order-first">
      <h2>A helping hand</h2>
      <p>
        As a user, you see none of this back-and-forth between the app and the
        LLM. You are only presented with a series of LLM-generated questions
        tailored to the menu and your preferences, making the decision feel
        painless.
      </p>
    </div>
  </div>
</section>
