---
---

<section class="py-80">
  <div class="rich-text wrapper">
    <h2 class="text-center">How it’s made, from the kitchen to your plate</h2>
    <p>
      Shortie works by leveraging a type of generative AI – a large language
      model (LLM) – in the background. An email invitation from the organizer
      prompts you to join a group order, telling you to view the preselected
      menu and choose a meal. Once you navigate to the menu, Shortie is
      comparing your dietary preferences and past orders and to all of the
      ingredients on the menu. It then ranks the meals, putting the best fit at
      the top.
    </p>
  </div>
  <div class="wrapper-lg my-64">
    <div class="aspect-video w-full border-6 border-primary">
      <!-- TODO: Block for FIRST app asset -->
    </div>
    <div
      class="items-ceneter flex w-full justify-center bg-vertical-squiggle py-40"
    >
      <p
        class="border-6 bg-secondary px-16 text-center text-lg text-primary sm:px-36"
      >
        Order Up
      </p>
    </div>
    <div class="aspect-video w-full border-6 border-primary">
      <!-- TODO: Block for SECOND app asset -->
    </div>
  </div>
  <div class="rich-text wrapper">
    <p>
      Additionally, Shortie is reading the menu and breaking all of the meals
      into categories. Then, it’s generating questions for you to help guide
      your decision-making process. Yes, that’s right -- the LLM is asking the
      user questions, and remembering the answers to the previous questions.You
      should see the menu items being re-ranked according to your answers to
      those questions.
    </p>
  </div>
</section>

<style>
  .bg-vertical-squiggle {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 31 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.859 6.162C17.2 4.422 17.989 2.232 18 0h4c-.015 3.028-.953 6.117-2.886 8.623v.002L15.14 13.79c-1.347 1.745-2.045 3.954-2.045 6.21 0 2.247.697 4.458 2.047 6.213l3.973 5.165c1.923 2.504 2.87 5.59 2.885 8.622h-4c-.011-2.228-.804-4.421-2.143-6.164v-.001l-3.972-5.164C9.946 26.151 9 23.057 9 20c0-3.063.945-6.157 2.886-8.672v-.002l3.973-5.164z' fill='%23E0320B'/%3E%3C/svg%3E");
    background-size: 3%;
    background-repeat: repeat;
    background-position: center;
  }
</style>
