---
import shortieSvg from '../assets/images/shortie.svg'
---

<section class="pb-96 pt-[160px]">
  <div
    class="wrapper-lg flex flex-col items-center justify-between gap-40 text-primary md:flex-row"
  >
    <div class="rich-text flex-1">
      <h2>Order set up in seconds.</h2>
      <p>
        Group food orders can be tough to coordinate. Even more so when you’re
        so hangry you don’t know what you want to eat. What if you could have an
        AI server that could help you decide what you wanted?
      </p>
      <p>
        Our solution was Shortie, an AI assistant for Shorter Order, an
        application Viget created to wrangle group food orders for our weekly
        all-staff lunch meeting.
      </p>
      <p>
        Shortie can quickly help you decide what you want to eat. It understands
        a restaurant’s menu and ranks the meals based on your past orders and
        dietary preferences. Shortie can also ask you questions about what you
        want. Not just any questions, but the right questions, tailored to each
        menu.
      </p>
      <p>
        What are you in the mood for? Oh, you think you want a curry? Well, do
        you want green or red curry? Do you like spice? If you want a really
        spicy Indian red curry, you should order the phaal curry.
      </p>
    </div>
    <div class="w-full max-w-sm md:max-w-2xl md:flex-1 <md:order-first">
      <img src={shortieSvg.src} alt="" class="w-full" />
    </div>
  </div>
</section>
